///////////////////
// TYPE VARS
///////////////////

$primary-font: Tahoma, Geneva, sans-serif;

///////////////////
// FONT SIZE VARS
///////////////////

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;

///////////////////
// PADDING VARS
///////////////////

$padding-1: 5px;
$padding-2: 10px;
$padding-3: 15px;
$padding-4: 20px;
$padding-5: 25px;
$padding-6: 30px;

///////////////////
// COLOR VARS
///////////////////

$header-bg: #F6F6F7;

$palette-1:  #222;

$palette-2: #888;

$red: #C90000;

$monochrome-1: #222;

$monochrome-2: #888;

$monochrome-3: #CCC;

///////////////////
// LAYOUT VARS
///////////////////

$container-width: 1200px !default;

$desktop-screen-width: 1280px;
$laptop-screen-width: 1024px !default;
$tablet-screen-width: 768px;
$mobile-screen-width: 580px;
$small-mobile-screen-width: 320px;

$global-desktop-padding: 50px;
$global-mobile-padding: 20px;

$global-desktop-margin: 20px;
$global-mobile-margin: 20px;

$global-desktop-section-padding: 30px;
$global-mobile-section-padding: 20px;

$global-desktop-column-padding: 10px;

